# IDEs
.idea/

# Hugo
resources/
public/
jsconfig.json
node_modules/
go.sum
.hugo_build.lock

samna.log
content/posts/**/data
content/posts/**/cache
content/posts/**/metadata
lightning_logs
__pycache__
test.ipynb